<form action="/blog/create" method="POST" >
    <input type="text" name="title" placeholder="Write a title">
    <input type="text" name="body" placeholder="What's on your mind?">
    <button type="submit">Post this blog!</button>
</form>